[submodule "shell/.ops"]
	path = shell/.ops
	url = https://creature-workshop.kernelle-soft.com/kernelle-soft/shellops.git
[submodule "shell/actions"]
	path = shell/actions
	url = https://creature-workshop.kernelle-soft.com/kernelle-soft/shellactions.git
