# Personal configs
.cursor/
.vscode/

# Build artifacts
bin/
dist/
build/
temp/
tmp/
coverage/
**/target/
go/kaitos

# Release bundles
kaitos-*-linux-*
*.tar.gz

# Derived from shellshock submodule
shell/shock

# Docs Stuff
.astro/
node_modules/
pnpm-debug.log*
